.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, rgba(2,0,36,1) 21%, rgba(8,133,6,0.6446953781512605) 100%);
    
}

.searchbar{
    display: flex;
    width: 15%;
    justify-content: center;
    margin-right: 10%;

}

.links{
    padding: 5px;
    margin-left: 30px;
}
.text{
    color: white;
}